body{
    background-color: #050801 !important;
    font-family: 'Roboto', sans-serif !important;
}
.navbar {
    background-color: #050801;
    border-bottom: 1px solid cyan;
}

.nav-link {
    color:azure;    
}
h1,h2 {
    color:azure;
    font-weight: 900 !important;
}
h3{
    color:azure;
    font-weight: 500 !important;
}
p{
    color:azure;
}
.heading-line {
    height: 1px;
    width: 200px;
    background-color: cyan;
}
.border-azure{
    border:1px azure solid !important;
}
.active{
    background-color:azure !important;
    color:#050801 !important;
}
.background-black{
    background-color:#050801 !important;
}
small{
    color:azure !important;
}
table{
    color:azure !important;
}
label{
    color: azure !important;
}
.btn-bg{
    background-color: #050801 !important;
    color:azure !important;
    border:1px solid cyan !important;
}
.btn-bg:hover{
    background-color: azure !important;
    color:#050801 !important;
    border:1px solid #050801 !important;
}
.fa .fa-bars{
    color:azure !important;
}