body {
    background-color: #050801;
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

#nameInputWrapper {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content: center;
    flex-direction: column;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    /* background-color: rgba(0, 0, 0, 0.70); */
    background:#050801;
    z-index: 2;
}

#nameInput {
    width: 20vw;
    height: 5vh;
    font-size: 4vh;
    outline: none;
    margin-bottom: 5vh;
    margin-top: 5vh;
}

#colorpicker {
    width: 16vh;
    height: 5vh;
    font-size: 4vh;
    outline: none;
}

#chat {
    position: fixed;
    display: block;
    left: 0;
    bottom: 0;
    width: 20%;
    font-family: 'Times New Roman', Times, serif;
    opacity: 0.5;
    pointer-events: none;
}

#history {
    position: relative;
    overflow: hidden;
    max-height: 20vh;
}

#betInputWrapper {
    justify-content: center;
    display: none;
    font-size: 10vh;
    text-align: center;
    z-index: 99;
}

.chat_message {
    font-size: 1vw;
}

.system_message {
    font-size: 1vw;
    color: white;
}

#overlay {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    pointer-events: none;
}


#scoreboard {
    position: fixed;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    top: 0;
    right: 1vw;
    opacity: 0.75;
    pointer-events: none;
}

#help {
  position: fixed;
  bottom: 1vh;
  right: 1vw;
  opacity: 0.75;
  pointer-events: none;
  z-index: 3;
}

#interface {
  position: fixed;
  bottom: 1vh;
  left: 1vw;
  opacity: 0.75;
  pointer-events: none;
}

#scoreboard > h3 {
    grid-column-start: 1;
    grid-column-end: 4;
    color: white;
    text-align: center;
    font-size: 2vh;
    max-height: 1vh;
}

#top_container{
  grid-column-start: 1;
  grid-column-end: 4;
}
.scoreboardItemBefore {
    vertical-align: middle;
    color: white;
    font-size: 1.75vh;
    text-align: right;
    place-items: center;
    display: grid;
}
.scoreboardItem {
    grid-template-columns: 2fr 1fr 1fr;
    color: white;
    font-size: 1.75vh;
    text-align: right;
    place-items: center;
    display: grid;
}

.scoreboardItem.selected {
  color: azure;
   border:1px solid cyan;
}

.buttonPlay {
    font-family: 'Roboto', sans-serif;
    position: relative;
    display: inline-block;
    color: azure;
    padding: 2.5vh;
    height: 4vh;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 4vh;
    letter-spacing: 1vh;
    overflow: hidden;
    background-color: rgba(0,0,0,0.2);
    transition: 0.2s;
    cursor: pointer;
    -webkit-box-reflect: below 1px linear-gradient(transparent,#0005);
  }
  .button__line {
    position: absolute;
    display: block;
  }
  /* .button__line--bottom {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 100vw;
    background: linear-gradient(270deg, transparent, azure);
  }
  .buttonPlay:hover .button__line--bottom {
    right: 100%;
    transition: 1s;
    transition-delay: 0s;
  } */
  .button__line--top {
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vw;
    background: cyan;
    opacity: 40%;
    transition: 0.25s;
  }
  .buttonPlay:hover .button__line--top {
    left: 0%;
    transition: 0.5s;
    transition-delay: 0s;
  }
  /*style with 4 lines in button play
  /* .button__line--top {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, azure);
  }
  .buttonPlay:hover .button__line--top {
    left: 100%;
    transition: 1s;
    transition-delay: 0.25s;
  }
  .button__line--bottom {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, azure);
  }
  .buttonPlay:hover .button__line--bottom {
    right: 100%;
    transition: 1s;
    transition-delay: 0.25s;
  }
  .button__line--left {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(0deg, transparent, azure);
  }
  .buttonPlay:hover .button__line--left {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0s;
  }
  .button__line--right {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, azure);
  }
  .buttonPlay:hover .button__line--right {
    top: 100%;
    transition: 1s;
    transition-delay: 0s;
  } */
  /* Свечение кнопки */
  /* .buttonPlay:hover {
    box-shadow: 0 0 10px azure, 0 0 40px azure, 0 0 80px azure;
    background-color: azure;
    color: #333;
    transition-delay: 1s;
  } */
  .x-sign {
    color: azure;
    display: block;
    text-shadow: 
      0 0 10px azure,
      0 0 20px aqua,
      0 0 40px dodgerblue,
      0 0 80px blue;
    filter: saturate(100%);
    font-size: 10vh;
  }
  
  form input{
    background: inherit;
    font: inherit;
    border: solid 1px azure;
    padding: 2px 5px;
    color: azure;
}

#betInput {
    background:#050801;
    font-size: 6.25vmin;
    color: azure;
    text-align: center;
    padding: 0.1em 0.2em 0.1em;
    border: 0.1px solid azure; 
  }
  
  
  #betInput:focus {
    outline: none;
  }

  .popup {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .80);
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    overflow: hiden;
    transition: .64s ease-in-out;
  }
    .popup-inner {
      position: relative;
      bottom: -100vw;
      right: -100vh;
      width: 80%;
      height: 80%;
      background-color: #050801;
      border:1px solid azure;
      transform: rotate(32deg);
      transition: .64s ease-in-out;
    }
    .popup-inner h3{
      color:azure;
      text-align: center;
      font-size: 4vmin;
      margin: 2vmin;
    }
    .popup__text {
      color:azure;
      font-size: 2vmin;
      width: 90%;
      text-align: left;
      margin: auto;
      text-align: left;
    }
    .popup__text span{
      color: cyan;
    }
    .popup:target {
      visibility: visible;
      opacity: 1;
    }
    .popup-inner {
      bottom: 0;
      right: 0;
      transform: rotate(0);
    }
    .popup__close {
      position: absolute;
      right: -3vmin;
      top: -3vmin;
      width: 7vmin;
      height: 7vmin;
      font-size: 3.5vmin;
      font-weight: 300;
      border-radius: 100%;
      background-color: azure;
      z-index: 4;
      color: #050801;
      line-height: 7vmin;
      text-align: center;
      cursor: pointer;
      text-decoration: none;
    }
  
  